.languageDropdown {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.selectedLanguage {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.options {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #3c3c3cfc;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #1c080c;
}

.options button {
    display: block;
    padding: 8px;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 50%;
}

.options button:hover {
    background-color: #1c080c;
}

.icon{
    width: 20px;
    height: 20px;
}