.contactFormWrapper{
    width: 100%;
    background-color: black;
    padding-top: 100px;

}

.contactSection{
    width: 30%;
}

.contactFormContainer{
    width: 90%;
    margin: 0 auto;
    color: white;
    padding-top: 20px;
    display: flex;
}

.secondaryHeading{
    color: red;
    font-size: 20px;
}

.mainHeading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: white;
}

.contactElem{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}



.contactInfo{
    display: flex;
    flex-direction: column;
}

.contactData{
    display: flex;
    gap: 30px
}

.contactInfo p{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.contactInfo span {
    margin-top: -15px;
    font-size: 16px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 35px
}

.formField{
    width: 400px;
    height: 40px;
    padding: 10px;
    background-color: black;
    border: 1px solid #5E5E5E;
    color: #5E5E5E;
}

.formSection{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.submit{
    width: 150px;
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
}

textarea{
    height: 140px !important;
}

.contactSection p:first-child{
    font-size: 18px;
}

.contactSection p:nth-last-child(2){
    font-size: 18px;
    /*margin-top: 30px;*/
}

@media (min-width: 320px) and (max-width: 480px) {
    .contactFormContainer{
        flex-direction: column;
    }

    .contactSection, .formSection{
        width: 95%;
    }

    .formField{
        width: 80%;
        height: 20px;
        padding: 10px;
        background-color: black;
        border: 1px solid #5E5E5E;
        color: #5E5E5E;
    }

    form{
        margin-top: 15px;
        width: 100%;
    }

    .formSection{
        /*justify-content: center;*/
    }

    .contactFormWrapper{

        padding-top: 15px;

    }

    textarea{
        height: auto !important;
    }

    .contactSection p:first-child{
        font-size: 16px;
    }

    .main{
        font-size: 22px;
    }

    .contactSection p:nth-last-child(2){
        font-size: 16px;
    }

    .icon{
        display: none;
    }

    .contactElem{

        margin-top: -10px;
    }

    form{
        margin-top: 60px;
    }
    .submit{
        width: 130px;
        height: 40px;
        font-size: 16px;
    }
}