body{
    background-color: black;
}

.mainSectionWrapper{
    color: white;
    width: 70%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}

.history, .vision, .mission{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    justify-content: space-between;
    gap: 100px;
}

.image{
    width: 45%;
    height: 320px;
}

.mainText{
    text-align: justify;
    font-size: 18px;
    color: white;
}

.whiteWord{
    color: white;
}

.textArea{
    margin-top: 80px;
    color: white;
    text-align: center;
}

.iconBlock{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 15px;
    align-items: center;

}

.heading{
    color: red;
    font-size: 25px;
    font-weight: 600;
}

.headingSecond{
    font-size: 20px;
    color: red;
    font-weight: 100;
}

h2{
    text-transform: uppercase;
    color: white;
    font-size: 27px;
    font-weight: bold;
}

h1{
    text-transform: uppercase;
    color: white;
    font-size: 27px;
}

.red{
    color: red;
}

@media (min-width: 320px) and (max-width: 480px) {
    .history, .vision, .mission{
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        gap: 1px;
    }

    .image{
        display: none;
    }

    .heading{
        font-size: 18px;
    }

    .mainSectionWrapper{
        width: 90%;
    }

    .mainText{
        font-size: 16px;
    }

    .history{
        margin-top: 50px;
    }

    .headingSecond{
        font-size: 16px;
    }

    .textArea h2 {
        font-size: 18px;

    }

    .textArea{
        margin-top: 0;
        text-align: left;
    }
}

@media (min-width: 1400px) and (max-width: 1628px) {
    .mainSectionWrapper{
        width: 90%;
    }
}
