.ServicesWrapper{
    width: 100%;
    /*height: 600px;*/
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}

.textArea{
    margin-top: 80px;
    color: white;
    text-align: center;
}

.heading{
    color: red;
    font-size: 20px;
    font-weight: 100;
}


h2{
    text-transform: uppercase;
    color: white;
    font-size: 27px;
}

h1{
    text-transform: uppercase;
    color: white;
    font-size: 27px;
}

.red{
    color: red;
}

.main{
    margin: 0 auto;
    width: 80%;
    line-height: 1.5;
    font-size: 20px;
}

.PromisesServicesWrapper{
    width: 90%;
    display: flex;
    margin: 90px auto 0;
}

.Promises{
    width: 35%;
}

.promise{
    display: flex;
    align-items: center;
    gap: 20px;
}

.promiseText{

}

.promiseText p:nth-child(1){
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.promiseText p:nth-child(2){
    font-size: 18px;
    margin-top: -15px;
    color: #D7CFC7;
}

.Service{
    background-size: cover;
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 12px;
    padding-right: 12px;
}

.Service h1{
    font-size: 22px;
}

.Service p{
    color: #D7CFC7;
    text-align: justify;
    font-size: 16px;
}

.Service p:nth-child(3){
    color: red;

}

.ServiceElemWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 15px;
    justify-content: flex-end;
    padding-right: 50px;
}

.Services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textSection{
    margin-top: 150px;
    color: white;
    width: 100%;
}

.textSection p:nth-child(1){
    color: red;
    font-size: 18px;
}

.textSection p:nth-child(3){
    font-size: 18px;
}

.listElem{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}

.mainAim{
 color: #ffffff !important;
}

.bulletList{
    /*height: 250px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    width: 750px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .PromisesServicesWrapper{
        flex-direction: column;
    }

    .ServiceElemWrapper{
        padding: 0;
        justify-content: center;
    }

    .bulletList{
        height: auto;
        width: auto;
    }

    .Promises{
        margin-top: -50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .promise{
        justify-content: flex-start !important;
    }

    .textSection{
        margin-top: 20px;
    }

    .textArea{
        margin-top: 20px;
    }

    .heading{
        font-size: 16px;
    }

    h2{
        font-size: 18px;
    }

    .main{
        font-size: 16px;
    }

    h1{
        font-size: 22px;
    }

    .promiseText p:nth-child(1){
        font-size: 18px;
    }

    .promiseText p:nth-child(2){
        font-size: 16px;

    }

    .textSection p:first-child{
        font-size: 16px;
    }

    .textSection p:nth-child(3){
        font-size: 16px;
    }

    .listElem{
        font-size: 16px;
    }

    .Service h1{
        font-size: 20px;
    }

    .Service p{
        font-size: 16px;
    }



}
