.ServicesWrapper{
    width: 100%;
    /*height: 600px;*/
    display: flex;
    justify-content: center;
    background-color: black;
    flex-direction: column;

}

.textArea{
    width: 90%;
    margin: 80px auto;
    color: white;
    text-align: center;
}

.heading{
    color: red;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;

}

.serviceHeading{
    color: white;
    font-size: 20px;
}

.secondaryHeading{
    text-transform: uppercase;
    color: white;
    font-size: 27px;
}


.red{
    color: red;
}

.main{
    margin: 0 auto;
    width: 60%;
    line-height: 1.5;
    font-size: 20px;

}

.PromisesServicesWrapper{
    width: 90%;
    display: flex;
    margin: 20px auto 0;
}

.Promises{
    width: 35%;
}

.promise{
    display: flex;
    align-items: center;
    gap: 20px;
}

.promiseText{

}

.promiseText p:nth-child(1){
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.promiseText p:nth-child(2){
    font-size: 18px;
    margin-top: -15px;
    color: #D7CFC7;
}

.Service {
    position: relative;
    width: 280px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
}

.Service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust opacity (0.5 = 50% darkness) */
    pointer-events: none;
}

.serviceImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceContent {
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
    padding: 12px;
    z-index: 1;
}



.Service h1{
    color: white;
    font-size: 22px;
}

.Service p{
    color: #D7CFC7;
    text-align: justify;
    font-size: 16px;
}

.arrow{
    cursor: pointer;
    transition: color 0.8s ease, transform 0.8s ease;
}

.arrow p:hover{
    color: #D7CFC7;
}

.arrow p{
    color: red;
    font-size: 14px;
}

.ServiceElemWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 15px;
    justify-content: flex-end;
    padding-right: 50px;
}

.Services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textSection{
    margin-top: 150px;
    color: white;
    width: 100%;
}

.textSection p:nth-child(1){
    color: red;
    font-size: 18px;
}

.textSection p:nth-child(3){
    font-size: 18px;
}

.listElem{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}

.iconBlock{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 15px;
    align-items: center;

}

.iconBlock1{
    color: red;
    display: flex;
    gap: 15px;
    align-items: center;
}

.arrow{
    display: flex;
    align-items: center;
    gap: 5px;
}

.mainAim{
 color: #ffffff !important;
    font-size: 16px;
}

.bulletList{
    /*height: 250px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    width: 850px;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 480px) {
    .PromisesServicesWrapper{
        flex-direction: column;
    }


    .textArea{
        width: 90%;
        margin: 20px auto;
        color: white;
        text-align: left;
    }

    .ServiceElemWrapper{
        padding: 0;
        justify-content: center;
        width: 100%;
    }


    .bulletList{
        height: auto;
        width: auto;
    }

    .Promises{
        margin-top: -60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .Promises h1, .Services h1{
        font-size: 18px;
    }

    .promise{
        justify-content: flex-start !important;
    }

    .textSection{
        margin-top: 20px;
    }


    .heading{
        font-size: 16px;
    }

    .textArea h2{
        font-size: 18px;
    }

    .main{
        font-size: 16px;
        text-align: left;
        width: 100%;
    }

    .mainAim{
        font-size: 14px;
    }

    /*h1{*/
    /*    font-size: 22px;*/
    /*}*/

    .promiseText p:nth-child(1){
        font-size: 16px;
    }

    .promiseText p:nth-child(2){
        font-size: 14px;

    }

    .textSection p:first-child{
        font-size: 16px;
    }

    .textSection p:nth-child(3){
        font-size: 16px;
    }

    .listElem{
        font-size: 16px;
    }

    .Service h1{
        font-size: 18px;
    }

    .Service p{
        font-size: 16px;
    }

    .iconBlock{
        justify-content: start;
    }

    .Services{
        width: auto;
        align-items: flex-start;
    }

    .Service{
        align-items: flex-start;
        width: 100%;
        height: 330px;
        justify-content: flex-end;
    }

    .arrow p{
        font-size: 14px;
    }

    .arrow:nth-last-child(1){
        font-size: 14px;
    }




}
