.contactFormWrapper{
    width: 100%;
    background-color: black;
    padding-top: 100px;

}

.contactSection{
    width: 35%;
}

.contactFormContainer{
    width: 90%;
    margin: 0 auto;
    color: white;
    padding-top: 20px;
    display: flex;
}

.contactFormContainerContactPg{
    width: 70%;
    margin: 0 auto;
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.contactFormContainerPricesPg{
    width: 70%;
    margin: 0 auto;
    color: white;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.secondaryHeading{
    color: red;
    font-size: 20px;
}

.mainHeading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: white;
}

.contactElem{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}



.contactInfo{
    display: flex;
    flex-direction: column;
}

.contactData{
    display: flex;
    gap: 30px
}

.contactInfo p{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.contactInfo span {
    margin-top: -15px;
    font-size: 16px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 35px
}

.formField{
    width: 400px;
    height: 40px;
    padding: 10px;
    background-color: black;
    border: 1px solid #5E5E5E;
    color: #5E5E5E;
}

.formSection{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.submit{
    width: 150px;
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.submit:hover{
    background-color: #cc0000;
}

.textArea{
    height: 140px !important;
}

.secondaryHeading{
    font-size: 18px;
}

.mainText{
    font-size: 18px;
    /*margin-top: 30px;*/
}

@media (min-width: 320px) and (max-width: 480px) {
    .contactFormContainer, .contactFormContainerContactPg, .contactFormContainerPricesPg{
        flex-direction: column;
    }

    .contactSection, .formSection{
        width: 95%;
    }

    .formField{
        width: 80%;
        height: 20px;
        padding: 10px;
        background-color: black;
        border: 1px solid #5E5E5E;
        color: #5E5E5E;
    }

    .form{
        margin-top: 15px;
        width: 100%;
    }

    .formSection{
        /*justify-content: center;*/
    }

    .contactFormWrapper{

        padding-top: 15px;

    }

    .textArea{
        height: auto !important;
    }


    .main{
        font-size: 22px;
    }

    .mainText {
        font-size: 16px;
    }

    .contactInfo p, .contactInfo span{
        font-size: 14px;
        color: white;
    }

    .icon{
        display: none;
    }

    .contactElem{

        margin-top: -10px;
    }

    .form{
        margin-top: 60px;
    }
    .submit{
        width: 130px;
        height: 40px;
        font-size: 16px;
    }

    .mainHeading{
        font-size: 18px;
    }

    .secondaryHeading{
        font-size: 16px;
    }

    .contactFormContainerContactPg{
        width: 90%;
    }
}

@media (min-width: 1400px) and (max-width: 1628px) {
    .contactSection{
        width: 50%;
    }
}