.headerWrapper {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
}

.headerImage {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    /*background-image: url("../../../assets/car-service-330.avif");*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../../../assets/header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbarOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Match the navbar height */
    /*background: rgba(0, 0, 0, 0.5); !* Optional overlay *!*/
    z-index: 2;
    /*margin-top: 80px;*/

}

.HeaderContentWrapper{
    width: 90%;
    margin: 80px auto 0 auto;
    /*background-color: red;*/
    display: flex;
    justify-content: flex-end;
}

.HeaderContent{
    margin-top: 200px;
    margin-right: 300px;
    width: 33%;
    /*background-color: #07a8ff;*/
}

.heading{
    color: red;
    font-size: 20px;
    font-weight: 100;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.HeaderContent h2{
    color: white;
    text-transform: uppercase;
    font-size: 42px;
}

.main{
    color: #D7CFC7;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.ContactBtns{
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.Contact a, .LearnMore a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Contact, .LearnMore{
    background-color: red;
    height: 55px;
    width: 140px;
    cursor: pointer;
    border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {

    .HeaderContentWrapper{
        justify-content: center;
    }

    .HeaderContent{
        margin-top: 10px;
        margin-right: 0px;
        width: 100%;
        /*background-color: #07a8ff;*/
    }

    .HeaderContent h2{
        font-size: 35px;
    }

    .Contact, .LearnMore{
        height: 45px;
        width: 120px;
    }

    .ContactBtns{
        display: flex;
        gap: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .headerImage {
        height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 1400px) {
    .headerImage {
        height: 100em;
    }
}