.pricesTableContainer {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    color: white;
    padding-top: 100px;

}

.pricesTableContainer h1{
    text-align: center;
    margin-bottom: 50px;
}

.tableSection {
    margin-bottom: 70px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: red; /* Sticky headers */
    text-align: center;
    /*border: 1px solid #ccc;*/
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.table tbody td {
    border-bottom: 1px solid red;
    padding: 12px;
    text-align: center;
}

.table tbody td:first-child,
.table thead th:first-child {
    text-align: left;
    padding-left: 12px;
}
