.contactSectionWrapper{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.mainSection{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.contactIcons{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
}

.iconElement{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map{
    width: 50%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mainSection{
        flex-direction: column;
    }

    .contactIcons{
        width: 100%;
        row-gap: 10px;
    }

    .iconElement{
        width: 100%;
    }

    .map{
        width: 100%;
        height: 300px;
    }

    .map iframe{
        width: 100%;

    }
}

