.contactSectionWrapper{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.mainSection{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.contactIcons{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
}

.iconElement{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconElement h1{
    font-size: 27px;
}

.iconElement p{
    margin-top: -10px;
    font-size: 20px;
}

.map{
    width: 50%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.heading h1{
    font-size: 27px;
    text-transform: uppercase;
}

.iconBlock h2{
    color: red;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

.heading h1 span{
    color: red
}

.iconBlock{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 15px;
    align-items: center;

}

.heading1{
    color: red;
    font-size: 20px;
    font-weight: 100;
}


@media (min-width: 320px) and (max-width: 480px) {
    .mainSection{
        flex-direction: column;
        margin-top: 50px;
    }

    .contactIcons{
        width: 100%;
        row-gap: 10px;
    }

    .iconElement{
        width: 100%;
    }

    .map{
        width: 100%;
        height: 300px;
        margin-top: 60px;
    }

    .map iframe{
        width: 100%;

    }

    .heading h1{
        font-size: 20px;
    }

    .heading1{
        font-size: 18px;
    }

    .iconElement h1{
        font-size: 16px;
    }

    .contactIcons{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: space-between;
    }

    .iconElement{
        width: 50%;
        display: flex;
        flex-direction: column;
        /*align-items: flex-start;*/
    }

    .contactSectionWrapper{
        width: 90%;
    }

    .wheel{
        display: none !important;
    }

    .iconElement p{
        margin-top: -10px;
    }

    .iconBlock{
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 0;
        align-items: center;

    }
}

