.footerWrapper{
    padding-top: 200px;
    width: 100%;
    background-color: black;
}

.footerContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid red;
    padding-top: 40px;
}

.contactElem{
    color: white;
    display: flex;
    flex-direction: column;
}

.icon{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.Contacts{
    display: flex;
    gap: 60px
}




.contactElem p:first-child{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 100px;
    height: 70px;
}

.contactInfo p:first-child{
    font-size: 18px;
}

.contactInfo span{
    font-size: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .header__middle__logo{
        display: none;
    }

    .Contacts{
        flex-direction: column;
        justify-content: center;
    }

    .footerContainer{
        justify-content: center;
    }

    .footerWrapper{
        padding-top: 100px;
        margin-top: -1px;
    }

    .contactInfo p{
        font-size: 16px;
    }

    .contactInfo span{
        font-size: 16px;
    }

    .contactElem p:first-child{
        font-size: 16px;
    }

    .question{
        display: none;
    }

    .contactElem p:nth-last-child(1){
        margin-top: 5px;
    }



    .contactInfo{
        flex-direction: row;
        gap: 10px;
        /*align-items: center;*/
    }

    .footerContainer{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: start;
        border-top: 1px solid red;
        padding-top: 10px;
    }

    .Contacts{
        display: flex;
        gap: 6px
    }
}
